%header
  %nav.nav.has-shadow
    .container
      .nav-left
        .nav-item.is-brand= link_to "Travis", root_path
      .nav-right.nav-menu
        .nav-item= link_to "Recipes", recipes_path
        .nav-item= link_to "New Recipe", new_recipe_path
        -if logged_in?
          .nav-item= current_admin.username
