
// @import "base/variables";
// @import "base/globals";
// @import "base/mixins";
// @import "styles/admin";
// @import "styles/recipes";
// @import "styles/sessions";

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}
