$dark: #131515; //rgba(19, 21, 21, 100)
$dark_grey: #2b2c28; //rgba(43, 44, 40, 100)
$green: #339989; //rgba(51, 153, 137, 100)
$light_teal: #7de2d1; //rgba(125, 226, 209, 100)
$light_rose: #fffafb; //rgba(255, 250, 251, 100)

$body-text: Helvetica, sans-serif;