@import "base/variables";

/* Home page designs */

.hero-img {
	background: url(asset-path('street.png')) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	width: auto;
}

.hero-text {
	text-align: center;
	#welcome-text {
	font-size: 4em;
}
	#welcome-message {
	font-size: 2em;
}
	#welcome-text, #welcome-message {
		color: #fff;
	}
}
